@font-face {
    font-family: "Charter";
    src: url('fonts/charter_regular-webfont.woff') format('woff'),
    url('fonts/charter_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Charter";
    src: url('fonts/charter_bold-webfont.woff') format('woff'),
    url('fonts/charter_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Charter";
    src: url('fonts/charter_italic-webfont.woff') format('woff'),
    url('fonts/charter_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Charter";
    src: url('fonts/charter_bold_italic-webfont.woff') format('woff'),
    url('fonts/charter_bold_italic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 4em;
    border: 2em double #373A36;
    padding: 2em;
    font-size: 1.3em;
    line-height: 1.3;
    font-family: "Charter";
    max-width: 50em;
    color: #373A36;
    background-color: #E6E2DD;
}

td {
    font-size: 1.3em;
    font-family: "Charter";
    color: #373A36;
    font-weight: normal;
    text-align: left;
    margin: 20px auto;
}

table {
    width: 100%;
    margin: 20px auto;
    table-layout: auto;
    border-collapse: collapse;
}

sup {
    font-size: 0.4em;
}

.title, .edu-name, .company, .dissertation, .paper-title {
    font-style: italic;
}

.edu-focus, .job-title, .item-name, .hobby-name {
    font-weight: bold;
    color: #373A36;
}

h1 {
    color: #373A36;
}

h2, h4 {
    color: #373A36;
}

li {
    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
}
