body {
	background-color: white;
}

h1 {
	color:		white;
	text-align:	center;
}

p {
	font-family:	verdana;
	font-size:		20px;
}

#id_selector {
	text-align: center;
	color:		red;
}

.class_selector {
  text-align: center;
  color: red;
}

element.class_selector {
  text-align: center;
  color: red;
}

/* Multiple Elements */
h1, h2, p {
	text-align: center;
	color: red;
}

td.achieved {
	background: lightgreen
}

td.failed {
	background: pink
}

td.upcoming {
	background: lightblue
}

table {
	background: lightyellow;
	margin-left: auto;
	margin-right: auto;
}
				  
